# Dependencies
node_modules

# Secrets
.env
apps/web/.env.development
apps/web/.env.production

# Typescript artifacts
dist
tsconfig.tsbuildinfo

# Logs
yarn-debug.log*
yarn-error.log*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Npm
.npmrc

# Misc
.DS_Store
